@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Certamen 3</h1>
    <p class="lead">Ignacio Quinteros Fuentes.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Personas</h2>
        <p>@Html.ActionLink("Ir al CRUD", "Index", "Persona", new { area = "" }, new { @class= "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Empresas</h2>
        <p>@Html.ActionLink("Ir al CRUD", "Index", "Empresa", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>